.profilePic-nav img{
    width: 40px;
}

.profilePic-nav:hover{
    cursor:context-menu;
    background-color: transparent;
}

.noHover:hover{
    cursor:context-menu;
    background-color: transparent;
}