 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Heebo&family=Nunito&display=swap');

 /* font-family: 'Alfa Slab One', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Nunito', sans-serif; */



 #root {
   width: 100%;
   height: 100vh;
   text-align: center;
 }

 .navbar-nav>a {
   font-family: 'Nunito', sans-serif;
 }

 h1 {
   font-family: 'Alfa Slab One', cursive;
 }


 h2,
 h3,
 h4,
 h5,
 span,
 button {
   font-family: 'Nunito', sans-serif;
 }

 .devices>.col>img {
   height: 200px;
 }

 .form-signin {
   max-width: 330px;
   padding: 15px;
 }

 .login-footer {
   margin-top: 35vh;
 }

 @media (max-width:375px) {
   .devices>.col>img {
     height: 100px;
   }
 }

 /* Dashboard Nav */


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 5rem;
  bottom: 0;
  left: 0;
  z-index: 1; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: rgb(117, 117, 117);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: var(--mainColor);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.bg-color{
  background-color: var(--mainColor);
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark::placeholder{
  text-align: center;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  background-color: #f1ffeb;
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.profilePic{
  border-radius: 50%;
}

/* dashboard content */

/*dashboard footer */

.footer{
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 1;
}