 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Heebo&family=Nunito&display=swap');

 /* font-family: 'Alfa Slab One', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Nunito', sans-serif; */

 #root {
   width: 100%;
   height: 100vh;
   text-align: center;
 }

 .navbar-nav>a {
   font-family: 'Nunito', sans-serif;
 }

 h1 {
   font-family: 'Alfa Slab One', cursive;
 }


 h2,
 h3,
 h4,
 h5,
 span,
 button {
  font-family: 'Nunito', sans-serif !important;
 }

 .devices>.col>img {
   height: 200px;
 }

 .form-signin {
   max-width: 330px;
   padding: 15px;
 }

 .login-footer {
   margin-top: 35vh;
 }

 .nav.flex-column>* {
   display: flex;
   justify-content: flex-start;
   gap: 10px;
   align-items: center;
   width: 100%;
   color: #53893D;
 }

 .nav.flex-column>*:hover {
   color: #373739;
   background-color: #F8C68B;
 }

 .activeDash {
   color: #373739 !important;
   background-color: #F8C68B;
 }

 @media (max-width:375px) {
   .devices>.col>img {
     height: 100px;
   }
 }