@media (max-width:414px) {
    .login-image {
        object-fit: contain;
        height: 300px;
        width: 200px;
    }
}

@media (max-width: 767px){
    .form-signin{
        background-image:url('../../assets/Login.png');
        background-repeat: no-repeat;
        background-position: center clip;
        background-size: cover;
        height: 640px;
    }
    .form-signin form{
        padding-top: 140px;
        width: max-content;
    }

    .mobileDarkBg{
        background-color: rgba(57, 57, 57, 0.742);
        color: aliceblue;
    }
    .btn-link{
        color:rgb(63, 198, 255);
    }
}